<h1>Sign Up Below:</h1>
  <form method="post" action="/registrations">
    
    <br>
    <h2> <h2>
    <label> User Name: </label>
    <input type="text" id="user_name" name="user[name]">
        <br>
    <label> User Email:</label>
    <input type="text" id="user_email" name="user[email]">
    
        <br> 
  <label> User Password:</label>
    <input type="text" id="user_password" name="user[password]">
        <br> 
    <button type="submit" id="id" value="submit">submit</button>

  </form>


